.div_container_map{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 2%;
}
.div_description{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 2%;
}